@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: poppins, sans-serif;
}
:root {
  --bg-color: #1f242d;
  --text-color: #fff;
  --secondary: #36454f;
  --second-bg-color: #36454f;
  --main-color: #00eeff;
}

.dark {
  --bg-color: #ffffff;
  --text-color: #1f242d;
  --main-color: #ff2400;
  --second-bg-color: #ececec;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}
.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
}
.navbar {
  display: flex;
}
/* TOGGLE BUTTON */

.toggle-switch {
  position: relative;
  padding-left: 5rem;
  font-size: 2rem;
}
.toggle-switch .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.fa-sun {
  display: block;
  color: #ffffff;
}
.dark .fa-sun {
  display: none;
}
.fa-moon {
  display: none;
}
.dark .fa-moon {
  display: block;
}

/* TOGGLE BUTTON */
.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
#menu-icon {
  color: var(--text-color);
  font-size: 3.6rem;
  display: none;
}
.home {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-img {
  width: 35vw;
  background-image: url(img/me.png);
  background-size: cover;
}
.img-div {
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

/* ANIMATION */
/* ANIMATION */
/* ANIMATION */

.row {
  position: relative;
}
.row::before {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: -12%;
  top: 80%;
  background: linear-gradient(
    to right,
    #00eeff,
    var(--main-color),
    var(--main-color)
  );
  animation: obj1 6s linear infinite;
}
@keyframes obj1 {
  50% {
    left: -13;
    top: 85%;
  }
}
.row::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 88%;
  top: 12%;
  background: linear-gradient(to right, var(--main-color), #ff6666);
  animation: obj2 6s linear infinite;
}

@keyframes obj2 {
  50% {
    left: 45;
    top: 10%;
  }
}
/* ANIMATION */
/* ANIMATION */
/* ANIMATION */

span {
  color: var(--main-color);
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: none;
}

/* ABOUT SECTION */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-img {
  width: 35vw;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* SERVICES SECTION */

.services h2 {
  margin-bottom: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-container .services-box {
  min-height: 410px;
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}
.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* PORTFOLIO SEC` */

.portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  margin: auto;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .potfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .potfolio-layer {
  transform: translateY(0);
}
.potfolio-layer h4 {
  font-size: 3rem;
}
.potfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.potfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.potfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* Certifications SECTION */

h3 {
  color: var(--secondary);
}

.slideshow {
  text-align: center;
}

.slideshow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  width: 30%;
  height: auto;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.slide.current {
  width: 40%;
  transform: scale(1.2);
  z-index: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
  transform: translateY(-50%) scale(1.2);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
  }

  .slide {
    width: 40%;
    margin: 0 5px;
  }

  .slide.current {
    width: 50%;
    transform: scale(1.2);
    z-index: 1;
  }

  .prev,
  .next {
    font-size: 24px;
  }
}

/* CONTACT SECTION */

.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */

.certifications {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certifications-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.certification-card {
  width: 250px;
  height: 250px;
  margin: 20px;
  perspective: 1000px;
  color: var(--bg-color);
}

.certification-card-inner {
  position: relative;
  width: 100%;
  height: 92%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.certification-card:hover .certification-card-inner {
  transform: rotateY(180deg);
}

.certification-card-front,
.certification-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.certification-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

.certification-card-front img {
  width: 250px;
  height: 250px;
}

.certification-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.certification-card-back a {
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

/* ///////////////////// */
/* ///////////////////// */
/* //////to-top-button/////////////// */
/* ///////////////////// */
.to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.to-top-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.to-top-button button:hover {
  background-color: #555;
}

.to-top-button button:focus::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  border: 2px dashed white;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

.scroll-percent {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3.5rem;
  padding: 2rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .potfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.755), #333);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.potfolio-layer {
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.portfolio-box:hover .potfolio-layer {
  transform: translateY(0);
}
.potfolio-layer h4 {
  font-size: 3rem;
}
.potfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.potfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.potfolio-layer a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-box {
  height: 300px;
  width: 350px;
}

.layer-links {
  display: flex;
  gap: 1rem;
}
.layer-icon {
  font-size: 4rem;
  color: #fff;
}
.layer-icon:hover {
  color: var(--main-color);
}
.fa-brands:hover {
}

/* Media Query Section */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 2rem 3%;
    width: 90%;
  }
 
  
  section {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
}

/* FOOTER STYLE */

footer {
  background-color: var(--bg-color);
  padding: 20px;
  text-align: center;
  border-top: #00eeff 0.1px solid;
}

.footer-content {
  display: inline-block;
}

p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .footer-content {
    display: block;
  }

  .social-media {
    margin-top: 10px;
  }

  .social-media a {
    margin: 0 5px;
  }
}

@media (max-width: 765px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img {
    width: 90vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 90vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 625px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .home-img {
    width: 95vw;
  }
  .about-img {
    width: 90vw;
  }
}


/* TOTOPBUTTON */
/* TOTOPBUTTON */

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: var(--main-color);
  border: none;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.scroll-to-top i {
  margin-top: 10px;
}

.scroll-to-top:hover {
  opacity: 1;
  transform: scale(1.1);
}
